html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--color-white);
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Regular'), url("../fonts/OpenSans-Regular.woff2"), url("../fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-SemiBold'), url("../fonts/OpenSans-SemiBold.woff2"), url("../fonts/OpenSans-SemiBold.woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Bold'), url("../fonts/OpenSans-Bold.woff2"), url("../fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

img {
    max-width: 100%;
}

.page {
    font-family: 'OpenSans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Global */
:root {
    --color-white: #fff;
    --color-gray-light: #ececec;
    --color-gray: #cacaca;
    --color-gray-dark: #999;
    --color-dark-light: #666;
    --color-dark: #333;
    --color-black: #000;
    --color-red: #d11616;
    --color-blue: #26a5e4;
    --color-green: #30bf39;
    --color-purple-light: #d1a9f0;
    --color-purple: #c283f3;
    --color-purple-normal: #9d5cd0;
    --color-purple-dark: #7943A4;
    --border-radius: 100px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.input-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Header */
.header {
    background-color: var(--color-black);
}

.header__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 29px;
}

.header__link {
    margin-right: 180px;
}

.nav{
    margin-right: auto;
}

.nav__list {
    gap: 96px;
}

.nav__link {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    color: var(--color-white);
    transition: 0.3s;
}

.nav__link:focus {
    outline: none;
    background-color: var(--color-purple-dark);
}

.nav__link:hover {
    background-color: var(--color-black);
    color: var(--color-purple);
}

.nav__link:active {
    color: var(--color-purple-dark);
}

.header__search {
    width: 28px;
    height: 28px;
    fill: var(--color-white);
    transition: 0.3s;
}

.header__search:focus {
    outline: none;
    background-color: var(--color-purple-dark);
}

.header__search:hover {
    background-color: var(--color-black);
    fill: var(--color-purple);
}

.header__search:active {
    fill: var(--color-purple-normal);
}

/* Main*/
.main__title {
    margin: 0;
    height: 0;
    font-size: 0;
}

/* Hero */
.hero {
    margin-bottom: 80px;
    background-image: url("../img/hero-1920.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__container {
    padding-top: 146px;
    min-height: 700px;
}

.hero__block {
    max-width: 580px;
}

.hero__title {
    margin: 0 0 20px 0;
    font-size: 72px;
    font-weight: 700;
    line-height: 68px;
    color: var(--color-white);
}

.hero__descr {
    margin: 0 0 92px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--color-white);
}

.hero__btn {
    padding: 23px 36px 23px 35px;
    border-radius: var(--border-radius);
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: var(--color-white);
    background-color: var(--color-purple-normal);
    transition: 0.3s;
}

.hero__btn:focus {
    outline-offset: 3px;
    outline: 2px solid var(--color-purple);
}

.hero__btn:hover {
    outline-offset: 0;
    outline: 3px solid var(--color-purple-light);
}

.hero__btn:active {
    outline-offset: 0;
    outline: 3px solid var(--color-purple-light);
    background-color: var(--color-purple-dark);
}

/* About */
.about__container {
    margin-bottom: 71px;
}

.about__title {
    margin: 0 0 15px 0;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-dark);
}

.about__descr {
    margin: 0;
    max-width: 1080px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--color-dark);
}

/* Gallery */
.gallery {
    background-image: url("../img/gallery-background-1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__container {
    margin-bottom: 80px;
    padding-top: 83px;
    min-height: 595px;
}

.gallery__left {
    margin-right: auto;
    padding-bottom: 80px;
    max-width: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.gallery__date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.gallery__title {
    margin: 0 0 0 0;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-white);
}

.gallery__label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--color-white);
}

.gallery__checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 0.3s;
}

.gallery__text {
    position: relative;
    padding-left: 24px;
    transition: 0.3s;
}

.gallery__text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border: 1px solid var(--color-white);
    transition: 0.3s;
}

.gallery__text::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-image: url("../img/checkbox.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.gallery__checkbox:checked + .gallery__text::after {
    opacity: 1;
    border: 1px solid var(--color-purple);
}

.gallery__checkbox:checked + .gallery__text {
    color: var(--color-purple);
}

.gallery__checkbox:focus + .gallery__text::before {
    border: 1px solid var(--color-purple);
}

.gallery__checkbox:focus + .gallery__text {
    color: var(--color-purple);
}

.gallery__checkbox:hover + .gallery__text::before {
    border: 1px solid var(--color-purple);
}

.gallery__checkbox:active + .gallery__text {
    color: var(--color-purple);
}

.gallery__right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 50px;
}

/* Catalog */
.catalog__container {
    margin-bottom: 75px;
}

.catalog__title {
    margin: 0 0 15px 0;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-dark);
}

.catalog__descr {
    margin: 0 0 40px 0;
    max-width: 1080px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--color-dark);
}

.catalog__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 47px;
}

.catalog__item {
    gap: 50px;
}

.catalog__block {
    padding-bottom: 7px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
}

.catalog__name {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    color: var(--color-dark);
}

.catalog__date {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-gray-dark);
}

.catalog__info {
    margin: 0;
    max-width: 800px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--color-dark);
}

/* Events */
.events__container {
    margin-bottom: 80px;
}

.events__title {
    margin: 0 0 16px 0;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-dark);
}

.events__list {
    gap: 50px;
}

.events__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.events__info {
    padding: 9px 50px 40px 49px;
    min-height: 397px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-left: 1px solid var(--color-gray);
    border-right: 1px solid var(--color-gray);
    border-bottom: 1px solid var(--color-gray);
}

.events__name {
    margin: 0;
    max-width: 400px;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    color: var(--color-gray-dark);
}

.events__date {
    margin: 0 0 12px 0;
    max-width: 400px;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    color: var(--color-gray-dark);
}

.events__subtitle {
    margin: 0 0 9px 0;
    max-width: 400px;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    color: var(--color-dark);
}

.events__descr {
    margin: 0 0 15px 0;
    max-width: 400px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: var(--color-dark);
}

.events__link {
    position: relative;
    width: 88px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--color-purple-normal);
    transition: 0.3s;
}

.events__link::after {
    content: "";
    position: absolute;
    width: 98%;
    left: 1px;
    bottom: 2px;
    border-bottom: 1px solid var(--color-purple-normal);
    transition: 0.3s;
}

.events__link:focus {
    text-align: center;
    outline: none;
    color: var(--color-white);
    width: 104px;
    height: 35px;
    background-color: var(--color-purple-normal);
}

.events__link:focus::after {
    left: 9px;
    width: 82%;
    bottom: 5px;
    border-color: var(--color-white);
}

.events__link:hover {
    background-color: var(--color-white);
    color: var(--color-purple-dark);
}

.events__link:hover::after {
    border-color: var(--color-purple-dark);
}

.events__link:active {
    color: var(--color-dark);
}

.events__link:active::after {
    border-color: var(--color-dark);
}

/* Projects */
.projects__container {
    margin-bottom: 82px;
}

.projects__title {
    margin: 0 0 15px 0;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-dark);
}

.projects__descr {
    margin: 0 0 30px 0;
    max-width: 1080px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--color-dark);
}

.projects__subtitle {
    margin: 0 0 15px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: var(--color-dark);
}

.projects__partners {
    gap: 35px;
}

.projects__partner {
    padding: 27px 27px 23px 27px;
    outline: 1px solid var(--color-gray);
}

/* Contact */
.contact {
    outline: 1px solid var(--color-gray);
}

.contact__container {
    padding-top: 38px;
    padding-bottom: 39px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 80px;
}

.contact__title {
    margin: 0 0 0 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: var(--color-dark);
}

.contact__address {
    margin: 0 0 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--color-dark);
}

.contact__label {
    display: none;
}

.contact__form {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 22px;
}

.contact__input {
    padding: 8px 55px 8px 25px;
    border-radius: var(--border-radius);
    outline: 1px solid var(--color-dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--color-dark);
    background-color: var(--color-white);
    transition: 0.3s;
}

.contact__input::-webkit-input-placeholder {
    color: var(--color-gray-dark);
}

.contact__input::-moz-placeholder {
    color: var(--color-gray-dark);
}

.contact__input:-ms-input-placeholder {
    color: var(--color-gray-dark);
}

.contact__input::-ms-input-placeholder {
    color: var(--color-gray-dark);
}

.contact__input::placeholder {
    color: var(--color-gray-dark);
}

.contact__input:focus {
    background-color: var(--color-gray-light);
}

.contact__input:hover {
    background-color: var(--color-gray-light);
}

.contact__input:invalid {
    outline-color: var(--color-red);
    color: var(--color-gray-dark);
    background-color: var(--color-white);
}

.contact__btn {
    padding: 11px 33px 12px 35px;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-purple-normal);
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: var(--color-purple-normal);
    transition: 0.3s;
}

.contact__btn:focus {
    outline-offset: 3px;
    outline: 2px solid var(--color-purple);
}

.contact__btn:hover {
    outline: none;
    background-color: var(--color-purple-normal);
    color: var(--color-white);
}

.contact__btn:active {
    outline-offset: -3px;
    outline: 3px solid var(--color-purple-light);
    background-color: var(--color-purple-normal);
    color: var(--color-white);
}

.contact__mobil {
    display: none;
    padding: 10px 35px 11px 34px;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-purple-normal);
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    color: var(--color-purple-normal);
    transition: 0.3s;
}

.contact__mobil:focus {
    outline-offset: 3px;
    outline: 2px solid var(--color-purple);
}

.contact__mobil:hover {
    outline: none;
    background-color: var(--color-purple-normal);
    color: var(--color-white);
}

.contact__mobil:active {
    outline-offset: -3px;
    outline: 3px solid var(--color-purple-light);
    background-color: var(--color-purple-normal);
    color: var(--color-white);
}

.contact__subtitle {
    margin: 0 0 5px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: var(--color-dark);
}

.contact__social {
    gap: 20px;
}

.contact__link {
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.contact__link:focus {
    outline: none;
    opacity: 0.5;
}

.contact__link:hover {
    opacity: 0.5;
}

.contact__link:active {
    opacity: 1;
    outline-offset: -1px;
    border-radius: 100%;
    outline: 1px solid var(--color-purple-normal);
}

/* Footer */
.footer {
    background-color: var(--color-black);
}

.footer__container {
    padding-top: 48px;
    padding-bottom: 45px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__social {
    gap: 20px;
}

.footer__link {
    width: 45px;
    height: 45px;
    fill: var(--color-gray);
    transition: 0.3s;
}

.footer__link:focus {
    outline: none;
    fill: var(--color-white);
}

.footer__link:hover {
    outline: none;
    fill: var(--color-white);
}

.footer__link:active {
    fill: var(--color-purple-normal);
}
